NODE_ENV=production

COOKIE_INSECURE=true
DISABLE_INTERCOM=true
DISABLE_MEMORY_AND_CPU_USAGE_LOGGING=true

JWT_SECRET=
ENCRYPTION_KEY=

# The default license key for balloon instances
LICENSE_KEY=

POSTGRES_DB=hammerhead_production
POSTGRES_USER=retool_internal_user
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=password
